<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div id="TablaResultados"></div>

<script type="text/javascript">
    
    $.noConflict();
    $(document).ready(function() {
        $.noConflict();
        $('#tablaResultadosFinal').DataTable();
        ConsultaGrid();
    })

    function ConsultaGrid(page) {
        var Pagina = 1;

        if( page != undefined ) {
            Pagina = page;
        } else {
            Pagina = $("#PaginaConsulta").val()
            
            if( Pagina == "" ) {
                Pagina = $("#PaginaActual").val()
            }
        }

        var modelo = {
            Pagina:Pagina,
            FilasPorPagina:5
        }

        envioGenericos("/ConsultaInformacion/ConsultaPedidosGeneral", modelo, "TablaResultados");
    }
</script>   